* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.63)
}

body {
    margin: 0px;
}

main, .container, .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    margin-top: 10px;
    height: 500px;
    width:500px
}

.image {
    width: 450px;
    height: 600px;
}


img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    }

.puzzle {
    border: 2px solid white;
    position: absolute;
    height: 530px;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 

.square {
    height: 48px;
    width: 49.1px;
    flex-grow: 1;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(233, 233, 233);
}

.answer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    margin-top: 20px;
    width: 300px;
    height: 150px;
    background-color: rgb(107, 193, 214);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 10px;
}

.restart {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background-color: rgb(107, 193, 214);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
}


.hide {
    background-color: unset;
}

.none {
    display: none;
}

form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

input {
    height:40px;
    font-size: 20px;
    border-radius: 5px;
}



.answerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(107, 193, 214);
}

.answerButton:hover, .restart:hover, .next:hover, .again:hover {
    background-color: rgb(204, 186, 151);
}

.clickAmount {
    margin-top: 10px;
}

.end {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 80px;
}

.again {
    cursor: pointer;
    margin-top: 100px;
    width: 70%;
    height: 70px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 193, 214);
    color: white;
    border-radius: 10px;
}

.pointerEvent {
    pointer-events: none;
}

h1 {
    font-size: 60px;
}

h3 {
    margin-top: 10px;
}



@media screen and (max-width: 500px) {

.container {
    height: auto;
    width: 100%;
    margin-top: 25px;
}    

h1{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}

form {
    flex-direction: column;
    margin-top: 5px;
}

.answerButton {
    margin-top: 10px;
    margin-left: 0px;
    width: 230px;
}

.image {
    width: 290px;
    height: 340px;
}

.puzzle {
    border: 1px solid white;
    height: 340px;
    width: 300px;
} 

.square {
    height: 31px;
    width: 30px;
}

.next, .restart {
    height: 100px;
}

.end {

font-size: 60px;
}

.again {
    width: 50%;
}

}

@media screen and (max-width: 350px) {

.container {
    margin-top: 12px;
}    
.image {
    width: 250px;
    height: 300px
}

.puzzle {
    width: 250px;
    height: 300px;
}

.square {
    height: 27.1px;
    width: 26px; 
}

h1 {
    font-size: 45px;
    margin-top: 10px;
}
.next, .restart {
    width: 250px;
    height: 90px;
}

.end {
    font-size: 40px;
}

.again {
    width: 45%;
    height: 60px;
    font-size: 25px;
    margin-top: 50px;
}
}